.artist {

}

.photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.artist_li {
    background-color: rgb(169, 169, 169);
    margin: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.artist_li div {
    width: 300px;
}